*{
  margin: 0;
  padding: 0;
}
.slider img{
  height: 350px;
}
.thumbnails img{
  height: 250px;
}
.slider{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom:2rem; 
}
body{
  background-color: #282e34;
}